<div id="about">
  <div class="container">
    <div class="row">
      <div class="col"> <%= image_tag("about.jpg", :alt => "", class: "img-responsive") %> </div>
      <div class="col">
        <div class="about-text">
          <h2>Quem somos?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <h3>Por que nos escolher?</h3>
          <div class="row">
            <div class="col">
              <ul>
                <li>Anos de experiência</li>
                <li>Qualidade Garantida</li>
                <li>Satisfação 100% garantida</li
              </ul>
            </div>
            <div class="col">
              <ul>
                <li>Consulta gratuita</li>
                <li>Clientes satisfeitos</li>
                <li>Preços acessíveis</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
