<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col intro-text">
            <h1>Sobre vidros no geral<br>
              & Sobre vidros</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Faça um Orçamento já!</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
