<nav id="menu" class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class=container>
    <a class="navbar-brand page-scroll" href="#page-top">Vidraceiros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse justify-content-end" id="bs-example-navbar-collapse-1">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#about" class="page-scroll">Sobre nós</a></li>
      <li class="nav-item"><a class="nav-link" href="#services" class="page-scroll">Serviços</a></li>
      <li class="nav-item"><a class="nav-link" href="#portfolio" class="page-scroll">portfolio</a></li>
      <li class="nav-item"><a class="nav-link" href="#contact" class="page-scroll">Contact</a></li>
    </ul>
  </div>

  </div>
</nav>
